.profileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileContainer > div {
    display: flex;
    align-items: center;
}

.profileContainer div > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div div {
    margin-left: 1.5rem;
}



.profileContainer div div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}


.profileContainer div div p img {
    margin-right: 0.5rem;
}

.profileContainer div div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title); 
}

.profileContainer span button {
    background: transparent;
    border: 0;
    display: inline-block;
}

.profileContainer span button img {
    height: 1.5rem;
}